.total-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}
.logo {
  height: 50px;
  width: 150px;
}
.home-un-order-list {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
}
.color-change {
  font-family: 'Roboto';
  text-decoration: none;
  font-weight: 600;
  color: #0284c7;
  font-size: 20px;
}
.color-link {
  font-family: 'Roboto';
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}
.trans {
  background-color: transparent;
  border-width: 0;
  outline: none;
  cursor: pointer;
  align-self: center;
}
.icon {
  height: 30px;
  width: 30px;
  display: none;
}
.header-li {
  margin-left: 20px;
  align-self: center;
}
.top-header {
  display: flex;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-bottom {
  align-self: center;
  display: flex;
}
@media (max-width: 768px) {
  .top-header {
    width: 100%;
  }
  .icon {
    display: flex;
  }
  .total-header {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .top-header {
    width: 100%;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
  }
  .total-header {
    background-color: #ffffff;
  }
  .home-un-order-list {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 0;
    align-items: flex-end;
    width: 100%;
  }
  .header-li {
    margin-left: 0;
  }
  .header-bottom {
    align-items: flex-start;
    height: 90vh;
    width: 100%;
    background-color: #e5e5e5;
  }
  .none {
    display: none;
  }
}
